<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index">Logo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           
        @*@ViewContext.RouteData.
        <div id="menu">
            @foreach(var menuitem in model.menuitems){
                <li @if(Model.CurPage == menuitem){ @:class="current_page_item"}>
                        <a href = "@menuitem.navUrl">@menuitem.name</a>
                                                                   </li>
                    }
        </div>*@
            <ul class="nav navbar-nav">
                <li id="pHome"><a href="/Home/Index">Домашняя</a></li>
                <li id="pSmartHouse"><a href="/SmartHouse/Index">Управление домом</a></li>
                <li id="pUser"><a href="/User/Index">Коммунальные услуги</a></li>
                <li id="pCommunication"><a href="/Communication/Index">Общение</a></li>
                <!-- //TODO Переделать -->

            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid --><!--/.container-fluid -->
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
