<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index">Logo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <script>
                function highlight(){
                    var tags=document.getElementsByTagName("li");
                    for (i in tags) {
                        if (tags[i].id == document.location.pathname.split('/')[1]
                            || document.location.pathname == "/") {
                            tags[i].className += " active";
                            break;
                        }
                    }
                }
            </script>
        
            <ul class="nav navbar-nav">
                <li id="Home"><a href="/Home/Index">Домашняя</a></li>
                <li id="SmartHouse"><a href="/SmartHouse/Index">Управление домом</a></li>
                <li id="User"><a href="/User/Index">Коммунальные услуги</a></li>
                <li id="Communication"><a href="/Quistions/Index">Вопросы</a></li>
                <!-- //TODO Переделать -->

            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid --><!--/.container-fluid -->
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Фарфадет</p>
        </footer>
    </div>
<script>highlight()</script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
