@model Farfaded.Models.Quistion

@{
    ViewBag.Title = "яяяя";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
            <h4>Задать вопрос</h4>
            <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })      
        <div class="form-group">
            <label class="control-label col-md-2">Номер запроса #######</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="IdQuestion" name="IdQuestion" type="number" value="">
            </div>
        </div>

            <div class="form-group">
                <label class="control-label col-md-2">Номер квартиры</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="IdFlat" name="IdFlat" type="number" value="17" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Вопрос</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Задать" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Вернуться", "Index")
    </div>
